@import "header.css";
@import "block.css";
@import "menu.css";

body {
    background-color: #000;
    color: #fff;
    max-width: 1280px;
    margin: auto;
}

.row img {
    width: 100%;
}


.fakeimg {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 880px) {
  .row {
    flex-direction: column;
  }

  .imageA {display: none;}
  .imageB {display: flex;}

  #navbar {display: none;}
  #menu-button {display: block;}
}

@media screen and (max-width: 430px) {
  #logo {display: none;}
  #title {padding-left: 10px;}
}
